[submodule "APP"]
    path = APP
    url = https://github.com/Pexoss/Estaciona360/blob/master/APP

[submodule "Core"]
    path = Core
    url = https://github.com/Pexoss/Estaciona360/blob/master/Core
